* { 
    font-family: 'Poppins', sans-serif;   
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    margin: 47px 0 177px 42px;
}

.link-header {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.875px;
    color: #17233D;
    margin-right: 36px;
    cursor: pointer;
}

.button-1 {
    background: #6FBF44;
    border: 1px solid #4CB538;
    border-radius: 6px;
    width: 124px;
    height: 51px;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 1px;
    color: #FFFFFF;
    cursor: pointer;
}


img {
    width: 595.18px;
    height: 500px;
    margin-left: 121px;
    display: inline-block;
}

section {
    display: inline-block;
    margin-left: 90px;

    }

h1 {
    font-weight: 700;
    font-size: 62px;
    line-height: 82px;
    letter-spacing: 0.596154px;
    color: #161A49;
    width: 582px;
}
p{
    font-weight: 400;
    font-size: 18px;
    line-height: 33px;
    letter-spacing: 0.5px;
    color: #4B505A;
    width: 493px;
    margin-top: 47px;
}
.button-2{
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 1px;
    color: #6FBF44;
    border: none;
    background: none;
    cursor: pointer;
    margin-top: 55px;
    }
    button:hover{
        opacity: 0.8;
    }
    button:active{
        opacity: 0.5;
    }
.link-header:hover{
    opacity: 0.8;
}
.link-header:active{
    opacity: 0.5;
}

.area{
    display: block;
    padding: 25px;
    border-radius: 20px;
    border-style: solid;
    width: 250px;
    height: 35px;
    border: none;
    background-color:rgba(93, 93, 125, 0.8);
    
}
.area:hover{
    opacity: 0.8;
}

.enviar{
    width: 150px;
    height: 25px;
    border-radius: 10px;
    background-color: rgba(109, 199, 18, 0.8);
    border: none;
    cursor: pointer;
    margin-top: 15px;
    margin-left: 50px;
    height: 35px;
    font-size: large;
    font-weight: 400;
    color: white;
}

form{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(31, 41, 94, 0.9);
    padding: 100px;
    border-radius: 25px;
    opacity: 0;
}
label{
    color: white;
}


    @media screen and (max-width: 800px){
        
       
        .link-header{
            display: none;
        }

        img{
            position:absolute ;
            top: 490px;            
            width: 312px;
            height: 288px;
            margin-left: 39px;
            margin-right: 39px;
            display: block;        
        }
        section{
            display: block;
            position: absolute;
            top: 120px;
            margin:0 55px 0 55px  ;
        }
        h1{
            font-size: 30px;
            line-height: 30px;
            width: auto;
            height: 60px;
            text-align: center;
        }
        p{
            font-size: 18px;
            line-height: 33px;
            width: auto;
            height: 120;
            text-align: center;
        }
        
        .button-2{
            margin: 0 auto;
            display: block;
            margin-top: 26px;
        }
        .button-1{
            width: 91px;
            height: 31px;
            font-size: 12px;
            line-height: 18px;
            position: absolute;
            right: 15px;
            top: 17px;
        }    

        form{
            padding: 45px;
            border-radius: 25px;
        }

        }